body {
	background-color:rgb(200, 230, 230);
	text-align:center;
	margin:auto;
	font-size:1.2em;
	}

div {
	background-color:rgb(0, 200, 200);
	padding:5px;
	margin:10px;
}

code {
	font-size: 15px;
	background-color:darkgrey;
	color:black;
	padding:0px;
	font-family:consolas;
}

a {
	color:red;
	font-weight:bold;
}

a:hover {
	background-color:rgb(0, 90, 90);
}

.tilbake {
	background-color:rgb(0, 200, 200);
	padding:0.2%;
	position:fixed;
	top:0.1%;
	left:1.5%;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}
@media screen and (max-width: 950px) {
	.tilbake {
		visibility:hidden;
	}
}
.outsidelink {
	color:rgb(200, 154, 0);
}

p {
	font-family: georgia, 'times new roman', serif;
	margin-left:8%;
	margin-right:8%;
}

h1 {
	font-family:impact, sans-serif;
}

h2 {
	font-family:sans-serif;
}

h3 {
	font-family:sans-serif;
}

h4 {
	font-family:sans-serif;
}